<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Zeno24 needs your location to show you and your circle on the map.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Zeno24 uses your location to keep your circle updated in real time.</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.zenocompany.zeno24</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zeno24</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1052139532546-lp3d1uvrdrv3fnkfpht9q312udmb3r9s</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1052139532546-lp3d1uvrdrv3fnkfpht9q312udmb3r9s.apps.googleusercontent.com</string>
</dict>
</plist>
